@tailwind base;
@tailwind components;
@tailwind utilities;

em-emoji-picker {
  width: 90%;
  height: 150px;
}
em-emoji-picker > div {
  display: flex;
  justify-content: center;
}
.animated-gradient {
  background: linear-gradient(270deg, #4f46e5, #9333ea, #06b6d4, #3b82f6);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  margin: 0;

  font-family: 'Montserrat Arabic', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}